<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- 配置後端路徑 -->
            <add name="iisnode" path="server/src/index.js" verb="*" modules="iisnode"/>
        </handlers>
        <rewrite>
            <rules>
                <!-- 將非靜態內容的請求重寫到Node.js後端 -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="server/src/index.js"/>
                </rule>
                <!-- 將靜態內容的請求重寫到前端應用 -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="client/build/{R:0}"/>
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/(.*)" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
