<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- 指定後端服務器入口點 -->
            <add name="iisnode" path="server/src/index.js" verb="*" modules="iisnode"/>
        </handlers>
        <rewrite>
            <rules>
                <!-- 將所有後端請求重定向到Node.js服務器 -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="server/src/index.js"/>
                </rule>
                <!-- 將所有前端請求重定向到前端應用的build目錄 -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="client/build/{R:0}"/>
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/(.*)" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
